{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "tsconfig.json",
    "tsconfigRootDir": "./",
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off"
  },
  "ignorePatterns": ["dist"],
  "overrides": [
    {
      "files": ["src/**/*.mts", "test/**/*.mts", "src/**/*.vue"],
      "rules": {
        "no-undef": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off"
      }
    }
  ]
}
